<mat-card appearance="outlined" class="bg-white">
  <!-- Image -->
  <div class="grid p-2 md:p-3">
    <div class="col-fixed" style="width: 150px">
      <img
        [src]="hero | heroImage"
        [alt]="hero.superhero"
        class="border-round-3xl"
        width="100%"
      />
    </div>
    <div class="col text-left">
      <div class="font-bold text-2xl">{{ hero.superhero }}</div>
      <div class="text-sm">{{ hero.alter_ego }}</div>
      <div class="text-sm">{{ hero.first_appearance }}</div>
      <!-- Actions -->
      <mat-card-actions class="m-2">
        <button
          mat-stroked-button
          color="primary"
          [routerLink]="['/heroes/edit', hero.id]"
        >
          <mat-icon>edit</mat-icon> Edit
        </button>
        <span class="spacer"> </span>
        <button
          mat-raised-button
          matTooltip="Superhero details"
          color="primary"
          class="text-center"
          [routerLink]="['/heroes', hero.id]"
        >
          <mat-icon class="-mr-1">arrow_forward</mat-icon>
        </button>
      </mat-card-actions>
    </div>
  </div>
</mat-card>
