<div class="flex flex-column bg-white p-4 shadow-2 border-round-md">
  <span class="text-xl mb-4 font-bold">Login</span>
  <mat-form-field>
    <mat-label>User</mat-label>
    <input type="text" matInput placeholder="Username" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input type="password" matInput placeholder="Password" />
  </mat-form-field>

  <button mat-button mat-flat-button color="primary" (click)="onLogin()">
    <mat-icon>save</mat-icon> Login
  </button>

  <div class="flex justify-content-end mt-5">
    <a routerLink="/auth/register">Create new account</a>
  </div>
</div>
