/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; overflow: hidden; }
body { margin: 0; font-family: "Montserrat", sans-serif !important; }



.spacer{
  flex: 1 1 auto;
}

.mdc-button{
  border-radius: 15px !important;
}

/* Hero Card radius */
.mat-mdc-card {
   border-radius: 30px !important;
 }
